<div class="panel-heading">
    <h3 class="panel-title">User detail.</h3>
</div>
<div class="panel-body main-panel">
<form class="form-horizontal" name="registerForm" novalidate >
    <div class="form-group">
        <label class="col-md-3 control-label" for="nomprojet">Nom du projet</label>
        <div class="col-md-4">
            <input placeholder="Project Name (max 20 char.)" type="input" class="form-control" ng-model="selected.name"/>
        </div>
    </div>


    <div class="form-group">
        <label class="col-md-3 control-label" for="email">Email du propriétaire</label>
        <div class="col-md-4">
            <input type="email" class="form-control" ng-model="selected.user" />
        </div>
    </div>




    <div class="form-group">
        <label class="col-md-3 control-label" for="descriptionprojet">Description du projet</label>
        <div class="col-md-4">
            <textarea rows="4"  class="form-control" ng-model="selected.description"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label" for="montant">Montant demandé pour le projet</label>
        <div class="col-md-4">
            <input  type="number" class="form-control" ng-model="selected.goal">

        </div>

    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <input ng-disabled="registerForm.$invalid" ng-click="editProject(selected)" class="btn btn-small btn-primary" type="submit"/>
        </div>
    </div>
</form>
</div>